/* Css for showing post data */


div{
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: white;
    max-width: 100%;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

div:hover{
    transform: scale(1.02);
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    transition: all 0.3s ease;
    cursor: pointer;
}

h3{
    color: #333;
    font-size: 1.5em;
    margin-bottom: 10px;
}

p {
    color:  red;
    font-size: 1em;
    line-height: 1.5;
}